html,
body,
#map {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-size: 13px;
  /* font-family: Vazir-Light; */
}
@font-face {
  font-family: Sahel-Black;
  src: url("/font/sahel-font-v1.0.0-alpha14/Sahel-Black.eot");
  src: url("/font/sahel-font-v1.0.0-alpha14/Sahel-Black.eot?#iefix")
      format("Sahel-Black-opentype"),
    url("/font/sahel-font-v1.0.0-alpha14/Sahel-Black.woff") format("woff"),
    url("/font/sahel-font-v1.0.0-alpha14/Sahel-Black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Samim-Bold;
  src: url("/font/samim-font-v2.0.1/Samim-Bold.eot");
  src: url("/font/samim-font-v2.0.1/Samim-Bold.eot?#iefix")
      format("Samim-Bold-opentype"),
    url("/font/samim-font-v2.0.1/Samim-Bold.woff") format("woff"),
    url("/font/samim-font-v2.0.1/Samim-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Vazir-Light;
  src: url("/font/vazir-font-v18.0.0/Vazir-Light.eot");
  src: url("/font/vazir-font-v18.0.0/Vazir-Light.eot?#iefix")
      format("Vazir-Light-opentype"),
    url("/font/vazir-font-v18.0.0/Vazir-Light.woff") format("woff"),
    url("/font/vazir-font-v18.0.0/Vazir-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.header{
  position:sticky;
  top: 0 ;
}
.container-fluid{
  width: 100%;
  height: 100%;
  background: none;
}
.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}
/* -------btns----------- */
/* width of buttons */
.btw {
  width: 10rem;
  /* height: 5rem; */
}
.tj {
  text-align: right;
}
.bc {
  /* margin-top: 20px; */
  background-repeat: no-repeat !important;
  background-size: contain !important;
  align-content: center !important;
  vertical-align: middle !important;
  width: 3rem !important;
  height: 3rem !important;
}
.bc-2 {
  width: 2rem !important;
  height: 2rem !important;
}
.bc-m {
  width: 1.3rem !important;
  height: 1.3rem !important;
}
.bc-2:hover{
    border-color: darkolivegreen;
}
.bc-2:focus{
  background-color: darkslategray;
}
.bc:hover{
    border-color: darkolivegreen;
}
.bc:focus{
  background-color: darkslategray;
}
#scaleInfo-btn{
  background: url(../asset/SVG/resize.svg);
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 200;
  display: none;
}

#extent-btn {
  background: url(../asset/SVG/expand.svg);
}
#clearmapgraphic {
  background: url(../asset/SVG/sweeping.svg);
}
#launch_heatmap {
  background: url(../asset/SVG/bonfire.svg);
  width: 4rem !important;
  height: 4rem !important;
}
#clearHeatmapLayer {
  background: url(../asset/SVG/fire-extinguisher.svg);
  width: 4rem !important;
  height: 4rem !important;
}
#clearAllLayer {
  background: url(../asset/SVG/dustbin.svg);
  width: 4rem !important;
  height: 4rem !important;
}

#basemap-btn {
  background: url(../asset/SVG/worldwide.svg);
  /* align-content: center !important; */

  width: 3rem !important;
  height: 3rem !important;
}
.dropdown-menu {
  min-width: inherit;
}

#layerlist-btn {
  background: url(../asset/SVG/database.svg);
}
#legend-btn {
  background: url(../asset/SVG/legend.svg);
}
#print-btn {
  background: url(../asset/SVG/printer.svg);
}
#identify-btn {
  background: url(../asset/SVG/help.svg);
}
#measure-btn {
  background: url(../asset/SVG/pencil-and-ruler-crossed.svg);
}

#navigation-btn {
  background: url(../asset/SVG/tap.svg);
}
#zoomin {
  background: url(../asset/SVG/zoom-in.svg);
}
#zoomout {
  background: url(../asset/SVG/zoom-out.svg);
}
#zoomprev {
  background: url(../asset/SVG/next.svg);
}
#zoomnext {
  background: url(../asset/SVG/previous.svg);
}
#deactivate {
  background: url(../asset/SVG/power-signal.svg);
}
#autodeactive {
  background: url(../asset/SVG/power-signal.svg);
}
#select-rectangle{
    background: url(../asset/icon/Selction.png);
}
#select-polygon{
    background: url(../asset/icon/Selction_polygon.png);
}
#select-circle{
    background: url(../asset/icon/Selction_circle.png);
}
#select-lasso{
    background: url(../asset/icon/Selction_lasso.png);
}
#select-line{
    background: url(../asset/icon/Selction_line.png);
}
#select_clear{
    background: url(../asset/icon/Selction_clear.png);
}
#select_clear:disabled {
    background:  url(../asset/icon/Selction_clear_D.png);
  }

 #featureTable-btn{
   background: url(../asset/SVG/spreadsheet1.svg);
 } 



#mes {
  position: absolute;
  text-align: right;
  right: 0.2rem;
  top: 0.2rem;
  z-index: 1000;
  display: none;
  width: 30%;
  height: 25%;
  background-color: white;
  border-color: black;
  color: black;
  border-radius: 1rem;
}

#se {
  position: absolute;
  padding-right: 0rem;
  padding-left: 2rem;
  padding-top: 0.5rem;
  text-align: center;
  right: 0.2rem;
  top: 1rem;
  z-index: 100;
  display: none;
  width: 35rem;
  height: 5%;
  background-color: white;
  border-color: black;
  color: black;
  border-radius: 1rem;
}

.mapsicon {
  cursor: pointer;
  margin: 0.5rem !important;
  width: 7rem !important;
  height: 7rem !important;
}

#googlemap {
  cursor: pointer;
  margin: 0.5rem !important;
  width: 7rem !important;
  height: 7rem !important;
  background: url(../asset/SVG//google-earth.svg);
}
#osm {
  cursor: pointer;
  margin: 0.5rem !important;
  width: 7rem !important;
  height: 7rem !important;

  background: url(../asset/SVG/map.svg);
}
#parcel {
  cursor: pointer;
  margin: 0.5rem !important;
  width: 7rem !important;
  height: 7rem !important;
  background: url(../asset/icon/parcel.PNG);
  background-size: contain;
  
}

/* #downcontainer {
  position: fixed;
  bottom: 0.2rem;
  left: 0;
  z-index: 10 !important;
} */
/* #alert_slid {
  position: absolute;
  top: 50%;
} */
/* #scale-widget {
  position: absolute;
  top: 50%;
} */
/* #dpicheck{
    color: red;
} */
.td3{
      width: 8rem;
}
.td2{
      width: 50%;
}

/* ------------------------------------ */
.blurInfo {
  position: absolute;
  top: 10px;
  right: 5px;
  font-size: 1.25em;
  font-family: monospace;
  color: #4C4C4C;
  width: 240px;
  background-color: #FFFFFF;
  padding: 10px;
  border: 2px solid #57585A;
  border-radius: 20px;
}

.blurInfo p span {
  background-color: #FFFFFF;
  padding: 0 5px;
  border-radius: 5px;
}

.blurInfo input[type=range] {
  width: 100%;
  display: block;
}

/* ------------------------------All Custum widgest----------------------- */
.map .esriMapTooltip {
  width: 100px;
  word-wrap: break-word;
  position: absolute;
  border: 1px solid #7EABCD;
  /* background-color: white; */
  padding: 5px;
  font-size: 9pt;
  font-style: normal;
  color: #000000;
  z-index: 9999;
  -o-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.globalWidget {
  text-align: center;
  position: absolute;
  z-index: 120;
  background: rgb(236, 236, 236);
  color: black;
  overflow-y: auto;
  border-radius: 0.5rem;
  border: 0.08333333333333333rem solid #d4d4d4;
}
.just-close {
  right: .5rem;
}
.just-BG {
  right: 1.5rem;
}
.just-M {
  right: 2.5rem;
}
.S_sapn{
  font: 1.1666666666666667rem/100% arial, sans-serif;
  /* position: absolute; */
  /* top: 0rem; */
  text-decoration: none;
  text-shadow: 0 0.08333333333333333rem 0 #fff;
  color: #000000;
  cursor: pointer;
  padding:.5rem;

  font-size: 1.53em;
  z-index: 5;
}

.info-right {
    overflow-y: hidden !important;
  width: 25%;
  top: .5rem;
  right:.5rem;
  height: 95%;
}
.info-left-buttom {
    overflow-y: hidden !important;
    background: none;
  width: 25%;
  bottom:  .5rem;
  left:.5rem;
  height: 30%;
  z-index: 50 !important;
}
.widget-left {
    overflow-y: hidden !important;
  width: 35rem;
  top:4.3rem;
  left:5rem;
  height:53rem;
}
.widget_selectlist {
    /* overflow-y: hidden !important; */
  width: 20rem;
  top:4.3rem;
  left:5rem;
  height:15;
}
.heatmap-widget{
    width:20%;
    top:.5rem;
    right:1rem;
    height: 45rem;
}

.info-right-top {
  width: 25%;
  top: 0rem;
  right: 0rem;
  height: 50%;
}

.info-right-buttom {
  width: 25%;
  top: 50%;
  right: 0rem;
  height: 50%;
}

.legend-base {
  width: 20%;
  top:5.5rem;
  left: 10px;
  height: 70%;
}
.widget_table{
  text-align: center;
  position: absolute;
  width:80%;
  bottom: .5%;
  left: 2rem;
  right: 17%;
  z-index: 110;
  height: 35rem;
  background:white;
  color: black;
  padding: 0.4166666666666667rem;
  /* overflow-y: auto; */
  /*
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
*/
/* overflow-y: auto;
overflow-x: auto; */
  border-radius: 0.5rem;
  border: 0.08333333333333333rem solid #626262;

}
.widget_tablelayerlist{
  text-align: center;
  position: absolute;
  width: 15%;
  bottom: .5%;
  right: 2rem;
  /* right: .5rem; */
  z-index: 110;
  height: 35rem;
  background:white;
  color: black;
  padding: 0.4166666666666667rem;
  overflow-y: auto;
  overflow-x: auto;
  /*
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
*/
  border-radius: 0.5rem;
  border: 0.08333333333333333rem solid #626262;

}
.map-left-up{
  width: 20%;
  top:0;
  left: 0;
  height: 50%;
}
.esri-feature-table {
  position: absolute;
  font-family: verdana;
  text-align: center;
  font-size: 12px;
  right: 3rem;
  height:  80%;
  width: 95%;
}
#tableBase{
  overflow-y: hidden;
  overflow-x: hidden;
}
.navigation-base {
  text-align: center;
  position: absolute;
  width: 70rem;
  top: .2rem;
  left: 5rem;
  z-index: 10;
  height: 4rem;
  background: rgb(236, 236, 236);
  color: black;
  padding: 0.4166666666666667rem;
  /* overflow-y: auto; */
  /*
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
*/
  border-radius: 0.5rem;
  border: 0.08333333333333333rem solid #626262;
}

.search-base {
  text-align: center;
  position: absolute;
  width: 30%;
  top: 0.5rem;
  right: 0.5rem;
  z-index: 100;
  height: 25rem;
  /* background: rgb(236, 236, 236); */
  background: white;
  color: black;
  padding: 0.4166666666666667rem;
  /* overflow-y: auto; */
  /*
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
*/
  border-radius: 0.5rem;
  border: 0.08333333333333333rem solid #626262;
}


/* ↓ ------------------slider-------------- */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/* ↑ ------------------slider-------------- */

/* ------------esri css components */
.arcgisSearch .searchGroup .searchInput {
  position: relative;
  z-index: 2;
  margin: 0;
  float: right;
  display: block;
  height: 20px;
  width: 25rem;
  padding: 6px 24px 6px 24px;
  font-size: 14px;
  line-height: 20px;
  color: #4c4c4c;
  background-color: #fff;
  border: 1px solid #57585a;
  border-right: 0;
  -webkit-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
  -webkit-transition: width 0.175s ease-in;
  -moz-transition: width 0.175s ease-in;
  -ms-transition: width 0.175s ease-in;
  -o-transition: width 0.175s ease-in;
  transition: width 0.175s ease-in;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

.esriOverviewMap .ovwButton {
  /* bottom: 2rem; */
  position: relative;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  z-index: 200;
  background-repeat: no-repeat !important;
}
