<div class="${baseClass}" style="display: none;">
  <span title="Close" class="just-close" data-dojo-attach-event="ondijitclick:hide">x</span>
  <br>
  <div class="container-fluid" style="text-align: center;">
  <table class="table">
    <thead>
      <th>
          جدول اطلاعات توصیفی : 
         <span id=layerNameAttTable></span>
      </th>
    </thead>
    <tbody>
      <tr>
        <td>
          <div id="tableBase"></div>
        </td>
      </tr>
    </tbody>
  </table>
  </div>
</div>