<div class="${baseClass}" style="display: none;">
    <span title="Close" class="just-close" data-dojo-attach-event="ondijitclick:hide">x</span>
    <div id="f"></div>
    <h3>
        جستجوی بر اساس مختصات
    </h3>
    <!-- <div style="position:absolute; right:300px; top:0px; z-Index:999"> -->
    <!-- <div dir="ltr" id="titlePane2" data-dojo-type="dijit/TitlePane" -->
    <!-- data-dojo-props="title:'جستجو بر اساس مختصات', closable:false ,open:false"> -->
    <label dir="ltr" for="xcoor" style="left: 0%">X: </label>
    <input type="text" id="xcoor">
    <label dir="ltr" for="ycoor">Y: </label>
    <input type="text" id="ycoor">
    <br>
    <div id="xyclean"></div>

    <div id="xyshow"></div>

    <!-- <div data-dojo-type="dijit/form/Button" id="xyshow" data-dojo-props="iconClass:'xyshow'"
        title="جستجو بر اساس مختصات"></div> -->
    <!-- </div> -->

    <!-- </div> -->
</div>