<div class="${baseClass}" style="display: block;">
  <div class="container-fluid">
    <table class="table">
      <span title="Close" class="just-close" data-dojo-attach-event="ondijitclick:hide">x</span>
      <tbody>
        <tr>
          <td>
            <button type="button" class="btn bc bc-2 " id="zoomin" data-toggle="tooltip"
              title=" بزرگنمایی نقشه با استفاده از باکس">
            </button>
          </td>
          <td>
            <button type="button" class="btn bc bc-2 " id="zoomout" data-toggle="tooltip"
              title=" کوچکنمایی نقشه با استفاده از باکس">
            </button>
          </td>
          <td>
            <button type="button" class="btn bc bc-2 " id="zoomprev" data-toggle="tooltip"
              title=" بازگشت به  نمای تصویر نقشه قبلی">
            </button>
          </td>
          <td>
            <button type="button" class="btn bc bc-2 " id="zoomnext" data-toggle="tooltip"
              title=" رفتن  به  نمای تصویر نقشه بعدی">
            </button>
          </td>
          <td>
            <button type="button" class="btn bc bc-2 " id="deactivate" data-toggle="tooltip"
              title="غیر فعال کردن ابزار راهبردی نقشه">
            </button>
          </td>
          <td>
            <button type="button" class="btn bc bc-2 " id="clearmapgraphic" data-toggle="tooltip"
            title="پاک کردن تمام گرافیک های روی نقشه">
          </button>
          </td>
          <td>
            <div class="dropdown ">
              <button type="button" class="btn bc  bc-2" data-toggle="dropdown" id="extent-btn"
                data-toggle="tooltip" title=" دسترسی به بزرگنمایی های سفارشی شده">

              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#" id='zahedanE'>بزرگنمایی <b> شهر زاهدان </b> </a>
                <a class="dropdown-item" href="#" id='zabolE'>بزرگنمایی <b> شهر زابل </b></a>
                <a class="dropdown-item" href="#" id='iranshahrE'>بزرگنمایی <b>شهر ایرانشهر </b></a>
                <a class="dropdown-item" href="#" id='bazmanE'>بزرگنمایی <b>شهر بزمان </b></a>
                <a class="dropdown-item" href="#" id="dalganE">بزرگنمایی <b>شهر دلگان </b></a>
                <a class="dropdown-item" href="#" id='ostanE'> استان سیستان و بلوچستان</a>
                <a class="dropdown-item" href="#" id='iranE'>بزرگنمایی ایران</a>
              </div>
            </div>
          </td>

          <td>
            <button type="button" class="btn bc bc-2  " id="select_clear" data-toggle="tooltip" 
              title="حذف تمام انتخاب های موجود بعلاوه تمام گرافیک های موجود در نقشه" disabled>
            </button>
          </td>
          <td>
            <button type="button" class="btn bc bc-2  " id="select-rectangle" data-toggle="tooltip" value='extent'
              title="انتخاب با مستطیل">
            </button>
          </td>
          <td>
            <button type="button" class="btn bc bc-2  " id="select-polygon" data-toggle="tooltip" value="polygon"
              title="انتخاب با پلی گون">
            </button>
          </td>
          <td>
            <button type="button" class="btn bc bc-2  " id="select-lasso" data-toggle="tooltip" value='freehand_polygon'
              title="انتخاب با ترسیم محدوده آزاد">
            </button>
          </td>
          <td>
            <button type="button" class="btn bc bc-2  " id="select-circle" data-toggle="tooltip" value="circle"
             title="انتخاب با دایره">
            </button>
          </td>
          <td>
            <button type="button" class="btn bc bc-2  " id="select-line" data-toggle="tooltip" value="polyline"
              title="انتخاب با ترسیم خط">
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>