<div class="${baseClass}"  style="display: none;">
	<h3 >نتایج جستجوی پیشرفته</h3>
	<span title="Close" class="just-close" data-dojo-attach-event="ondijitclick:hide">x</span>

	<ul dir="rtl">
		<!-- <li>
			<label id="LabelInf" class="label_01" for="info_LayerNames" >لایه مدنظر : </label>
			<div id="info_LayerNames"></div>
		</li> -->

		<li>
			<label id="LabelQWpop" class="label_01" for="queryWereBoxpop">عارضه های انتخاب شده :</label>
			<label id="L1pop" for="LabelQWpop"></label>

			<div id="queryWereBoxpop" >
				<div  id="treepop"></div>
			</div>
		</li>
		<!-- <li>
			<label class="label_01" for="locationBoxpop"> مختصات عارضه انتخابی:</label>
			<div class="texareatbox"  id="locationBoxpop" disabled='disabled'></div>
		</li> -->
		<li>
			<label class="label_01" id="labelATpop" for="attributeTablepop"> اطلاعات توصیفی :</label>
			<label id="L0pop" for="labelATpop"></label>
			<div id="attributeTablepop">
				<table id="customerspop" class='tableRep'></table>
			</div>
		</li>
	</ul>
<!-- </div> -->
</div>
