<div class="${baseClass}" style="display: none;">
  <div class="container-fluid" style="text-align: center;">
    <div class="row">
      <div class="col-sm-1">
          <table dir="rtl">
              <tr>
                  <td>
                      <div class="just-close S_sapn" title="بستن ویدجت و پاک شدن کلیه تنضیمات" data-dojo-attach-event="onclick:hide">x
                      </div>
                  </td>
                  <!-- <td>
                      <div class="just-M S_sapn" data-dojo-attach-event="onclick:max_min" title="بزرگنمایی"
                          id='maximize'>
                          &#10064;
                      </div>
                  </td>
                  <td> 
                      <div class="just-close S_sapn" title=" بستن ویدجت بدون حذف تنضیمات" data-dojo-attach-event="onclick:hide">-
                      </div>
                  </td> -->

                  <!-- <td>
                      <div class="just-BG S_sapn" data-dojo-attach-event="onchange:Bground"
                          title="حذف یا نمایش پس زمینه" >
                          <input type="checkbox" name="chkShowBusn" id="chkShowBusn" s>
                      </div>
                  </td> -->

              </tr>
          </table>
      </div>
  </div>
  <table class="table">
    <thead>
      <th>
          جدول اطلاعات توصیفی : 
         <span id=layerNameAttTable></span>
      </th>
    </thead>
    <tbody>
      <tr>
        <td>
          <div id="tableBase"></div>
        </td>
      </tr>
    </tbody>
  </table>
  </div>
</div>