<div class="${baseClass}" style="display: none;">
    <div class="container-fluid" style="text-align: right;">
        <table class="table">
            <span class="just-close S_sapn" title="بستن ویدجت و پاک شدن کلیه تنضیمات" data-dojo-attach-event="onclick:hide">x
            </span>
            <thead style="position: sticky;top: 0">
                <tr>
                    <th class="header" scope="col">
                        <button type="button" class="btn  btn-secondary m-2 btn-block" id="attributetable-btn"
                            data-toggle="tooltip" title=" مشاهده جدول اطلاعات توصیفی">
                            مشاهده جدول اطلاعات توصیفی
                        </button>
                    </th>
                </tr>
                <tr>
                    <th>
                        لایه را انتخاب نمایید
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <form dir="ltr" id='radioTable'></form>
                    </td>
                </tr>
            </tbody>
        </table>




    </div>

</div>