<div class="${baseClass}" style="display: none;">
	<h3>
		Label - برچسب گذاری 
	</h3> <span title="Close" class="just-close"
		data-dojo-attach-event="ondijitclick:hide">x</span>

	<div id="info" dir="rtl">
		<!-- ------ -->
		<label for="LayerNameLabel"> لایه را انتخاب نمایید</label><br />
		<div id="LayerNameLabel"></div>
		<br />
		<label id="lab_f" for="FieldNameLabel">فیلد مورد نظر را انتخاب کنید </label><br />
		<div id="FieldNameLabel"></div>
		<br />
		<label for="PrefixLabel">وارد نمودن پیشنود </label><br />
		<input type="text" id="PrefixLabel">
		<br />
		<label for="SuffixLabel">وارد نمودن پسوند </label><br />
		<input type="text" id="SuffixLabel">
		<br />
		<label for="Font_Size"> اندازه قلم</label><br>
		<div id="Font_Size"></div>
		<br />
		<label for="Font_Type"> نوع قلم</label>
		<br />
		<div id="Font_Type"></div>
		<br />
		<div id="progButton"></div>
		<label for="Font_Color"> انتخاب رنگ</label>
		<br />
		<div id="Font_Color" ></div>
		<br /> <br />
		<div data-dojo-type="dijit/form/Button" data-dojo-props="label:'اجرای برچسب'" id="LabelOk" type="button"></div>
		<div data-dojo-type="dijit/form/Button" data-dojo-props="label:'پاک کردن'" id="RefreshL" type="button"></div>
		<br>
	</div>
	<!--  -->
</div>