<div class="${baseClass}" style="display: none;">
	<div class="container-fluid" dir="rtl">
		<div class="row">
			<div class="col-sm-6">
				<table dir="rtl">
					<tr>
						<td>
							<div class="just-close S_sapn" title="بستن ویدجت و پاک شدن کلیه تنضیمات"
								data-dojo-attach-event="onclick:hide">x
							</div>
						</td>
						<td>
							<b>لایه های نقشه</b>
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div id="layerList"></div>

			</div>
			<!-- <div id="f"></div> -->
		</div>

	</div>

</div>