<div class="${baseClass}"  style="display: none;">
	<h3 >ابزار اندازه گیری <b>مختصات وطول و مساحت</b></h3>
	<span title="Close" class="just-close" data-dojo-attach-event="ondijitclick:hide">x</span>

	<!-- <div id="mes"  > -->
		<!-- kkkkk -->
		<!-- <div dir="rtl" id="titlePane" data-dojo-type="dijit/TitlePane" data-dojo-props="title:'ابزار اندازه گیری', closable:false ,open:true"> -->
			<!-- <div id="measurementDiv"></div> -->
			<!-- <span dir="rtl" style="font-size:smaller;padding:5px 5px;">کلید <b>CTRL</b> را فشار دهید تا اسنپ فعال شود.</span> -->
		<!-- </div> -->

	<!-- </div> -->

</div>
