<div class="${baseClass}" style="display: none;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <table dir="rtl">
                    <tr>
                        <td>
                            <div class="just-close S_sapn" title="بستن ویدجت و پاک شدن کلیه تنضیمات" data-dojo-attach-event="onclick:hide">x
                            </div>
                        </td>
                        <td>
                            <h5> اطلاعات توصیفی عوارض</h5>
                        </td>
                     </tr>
                </table>
            </div>
        </div>
<div class="row">
    <div class="col-sm-12">
        <table class="table">
            <tbody>
                <tr>
                    <td>
                        <label id="LabeVis" for="info_visibility"></label>انتخاب لایه ها:</label>
                    </td>
                    <td>
                        <select name="VisibleConstants" id="VisibleConstants" class="form-control">
                            <option value="LAYER_OPTION_TOP" title="مشاهده بالاترین لایه">مشاهده بالاترین لایه
                            </option>
                            <option value="LAYER_OPTION_ALL"
                                title="مشاهده تمام لایه ها بدون در نظر گرفتن اینکه قابل دسترسی در بزرگنمایی موجود هستند یا خیر">
                                مشاهده تمام لایه ها </option>
                            <option value="LAYER_OPTION_VISIBLE" title="مشاهده لایه های قابل مشاهده ">مشاهده لایه
                                های قابل دسترسی
                            </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label id="LabelInf" class="" for="info_LayerNames">لایه مدنظر : </label>
                    </td>
                    <td>
                        <div class="claro">
                            <input data-dojo-type="dijit/form/ComboBox" id="info_LayerNames">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="" for="locationBox"> مختصات عارضه انتخابی:</label>
                    </td>
                    <td>
                        <div id="locationBox" disabled='disabled'></div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <!-- <label id="LabelQW" class="" for="queryWereBox"> عارضه های انتخاب شده</label> -->
                        <div class="nihilo" id='treeplace'style="text-align: right;">
                            <div data-dojo-type='dijit/Tree' id='tree'></div>
                        </div>
                    </td>

                </tr>
            </tbody>
        </table>
    </div>
</div>

        <!-- </div> -->





    </div>




</div>