<div class="${baseClass}"  style="display: none;">
	<b >فریم انتخاب ورودی جهت گزارش گیری</b>
	<span title="Close" class="just-close" data-dojo-attach-event="ondijitclick:hide">x</span>
	<div id="f"></div>

	<table>
		<tr style="border: .5px solid rgb(231, 231, 172)">
			<h4 >روش انتخاب عوارض</h4>
					<div id="btnContainer">
							<div id="circle" type="button" value="" title="انتخاب دایره ای"></div>
							<div id="ellipse" type="button" value="" title="انتخاب بیضی"></div>
							<div id="extent" type="button" value="" title="انتخاب  مستطیلی"></div>
							<br>
							<div id="freehand_polygon" type="button" value="" title="انتخاب پلیگون آزاد"></div>
							<div id="freehand_polyline" type="button" value="" title="انتخاب پلی لاین آزاد"></div>
							<div id="polygon" type="button" value="" title="انتخاب پلی گون"></div>
							<br>
							<div id="polyline" type="button" value="" title="انتخاب پلی لاین"></div>
							<div id="rectangle" type="button" value="" title="انتخاب چهارگوشه"></div>
							<div id="triangle" type="button" value="" title="انتخاب مثلثی"></div>
					</div>
		</tr>
	</table>
</div>
